@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 90vw;
  min-height: 80vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  width: 20rem;
  height: 31.0625rem;
  padding: 1rem;
  margin: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  box-shadow: 1px 10px 22px 9px rgba(0, 0, 0, 0.05);
}

.qr-code {
  max-width: 100%;
  border-radius: 0.625rem;
}

.content-container {
  text-align: center;
  font-size: 1.3125rem;
}

.main-text {
  font-weight: 700;
  margin: 1rem;
  color: #1f2946;
  letter-spacing: 0.03281rem;
}

h1 {
  font-size: 1.3125rem;
}

.second-text {
  color: #96989c;
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.00938rem;
  margin: 0rem 1.56rem 0 1.56rem;
}
